<h1><%= @item.name %></h1>
<p>Description: <%= @item.description %></p>
<br>
<h2>Locations with at least 1 <%= @item.name %></h2>
<ul>
  <% @item.item_locations.each do |item_location| %>
    <li>
      <%= item_location.location.name %>: <%= item_location.quantity %>
    </li>
  <% end %>
</ul>


<div><%= link_to "Edit", edit_item_path(@item) %></div>
  <div><%= button_to "Destroy", item_path(@item), method: :delete %>
</div>