<div>
  <%= link_to "Locations", locations_path %>
  <%= link_to "Items", items_path %>
  Manage Inventory: <%= link_to "Create", 'create_inventory' %>
  <%= link_to "Destroy", 'destroy_inventory' %>
  <%= link_to "Move", 'move_inventory' %>

</div>